<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'Deploy/assets/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Search Feature</title>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
<body>
    <header>
        <div class="header-container">
            <div class="header-wrapper">
                <div class="logoBox">
                    <a class="navbar-brand" href="#">Friendly</a>
                </div>


                <div class="searchBox" data-toggle="modal" data-target="#searchmodal" data-id="search-box">
                    <form action="{% url 'search_results' %}" method="get">
                         <input name="q" type="text" placeholder="Search..." style="width: 400px;">
                    </form>

                </div>



            </div>
            <div class="iconBox2">
                <i class=""></i>
                <a href="{% url 'dashboard' %}" class="logout-link">
                    <i class="fa-solid fa-house"></i>
                </a>

                <a href="{% url 'user_logout' %}" class="logout-link">
                    <i class="fas fa-sign-out-alt"></i>
                </a>

            </div>
        </div>
    </header>